<a href="https://colab.research.google.com/github/parthd06/ML_Algorithms/blob/main/1.DataPreparation_EmployeesDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Employees Dataset:

### Data Preparation using a custom Dataset: Here We are using a csv file which has entries and Details about the Employees. Employee dataset contains columns such as first name, gender, start date, last login, salary bonus, 	senior management and team. Some of the fields are null in the dataset. 
---

In [5]:
import pandas as pd
df = pd.read_csv("/content/Employees_dataset.csv")
print(df)

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True                   NaN
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True                   NaN
..         ...     ...  ...               ...                   ...
995      Henry     NaN  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [6]:
#Detect missing values in a particular column
print(pd.isnull(df['Team']))

0      False
1       True
2      False
3      False
4       True
       ...
995    False
996    False
997    False
998    False
999    False
Name: Team, Length: 1000, dtype: bool

In [8]:
print(pd.notnull(df['Team']))

0       True
1      False
2       True
3       True
4      False
       ...
995     True
996     True
997     True
998     True
999     True
Name: Team, Length: 1000, dtype: bool

In [10]:
# Changing null values to 1111
print(df.fillna(1111))

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True                  1111
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True                  1111
..         ...     ...  ...               ...                   ...
995      Henry    1111  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [11]:
print(df.fillna(method='pad'))

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True             Marketing
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True               Finance
..         ...     ...  ...               ...                   ...
995      Henry    Male  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [12]:
df.fillna(method='bfill') # check the output
print(df)

    First Name  Gender  ... Senior Management                  Team
0      Douglas    Male  ...              True             Marketing
1       Thomas    Male  ...              True                   NaN
2        Maria  Female  ...             False               Finance
3        Jerry    Male  ...              True               Finance
4        Larry    Male  ...              True                   NaN
..         ...     ...  ...               ...                   ...
995      Henry     NaN  ...             False          Distribution
996    Phillip    Male  ...             False               Finance
997    Russell    Male  ...             False               Product
998      Larry    Male  ...             False  Business Development
999     Albert    Male  ...              True                 Sales

[1000 rows x 8 columns]

In [13]:
df['Gender'].fillna("No Gender",inplace=True)
print(df)

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                   NaN
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                   NaN
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [14]:
# Replacing null values to Tech
import numpy as np
print(df.replace(to_replace=np.NaN,value="Tech"))

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                  Tech
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                  Tech
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [15]:
print(df)

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                   NaN
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                   NaN
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [16]:
print(df.interpolate(method='linear',limit_direction='forward'))

    First Name     Gender  ... Senior Management                  Team
0      Douglas       Male  ...              True             Marketing
1       Thomas       Male  ...              True                   NaN
2        Maria     Female  ...             False               Finance
3        Jerry       Male  ...              True               Finance
4        Larry       Male  ...              True                   NaN
..         ...        ...  ...               ...                   ...
995      Henry  No Gender  ...             False          Distribution
996    Phillip       Male  ...             False               Finance
997    Russell       Male  ...             False               Product
998      Larry       Male  ...             False  Business Development
999     Albert       Male  ...              True                 Sales

[1000 rows x 8 columns]

In [17]:
df1=pd.DataFrame({"A":[12,23,None,5,6,None],
                  "B":[34,None,2,34,5,67],
                  "C":[67,54,33,None,77,98],
                  "D":[45,87,65,33,23,None]

})
print(df1)

      A     B     C     D
0  12.0  34.0  67.0  45.0
1  23.0   NaN  54.0  87.0
2   NaN   2.0  33.0  65.0
3   5.0  34.0   NaN  33.0
4   6.0   5.0  77.0  23.0
5   NaN  67.0  98.0   NaN

In [18]:
print(df1.interpolate(method='linear',limit_direction='forward'))

      A     B     C     D
0  12.0  34.0  67.0  45.0
1  23.0  18.0  54.0  87.0
2  14.0   2.0  33.0  65.0
3   5.0  34.0  55.0  33.0
4   6.0   5.0  77.0  23.0
5   6.0  67.0  98.0  23.0

In [19]:
print(df1.dropna())

      A     B     C     D
0  12.0  34.0  67.0  45.0
4   6.0   5.0  77.0  23.0